.App {
  padding: .1rem;
  margin-left: 35%;
  background-color:lightslategray;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 1rem;
  width: 25rem;
  height: 38rem;
}

